<html>

<head>
	<meta charset="utf-8">
	<title>Cancer Prediction</title>
	<!-- <link rel="stylesheet" href="style.css"> -->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/index.css') }}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/css/bootstrap.min.css">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<body class="login-body">

	<div class="container mt-5 mb-5 d-flex justify-content-center">
		<div class="card px-1 py-4">
			<div class="card-body text-center">
				<h2>Cancer Prediction Application</h2>
				<!-- change text color -->
				<p style="color: red;"></p>
					{% with messages = get_flashed_messages() %}
					{% if messages %}

					{% for message in messages %}
					<p style="color: green;">{{ message }}</p>
					{% endfor %}
				{% endif %}
				{% endwith %}
				</p>
				{% if filename %}
				<div>
					<img src="{{ url_for('display_image', filename=filename) }}" width=auto height=300>
				</div>
				{% endif %}

				<br />

				{% if ct_image %}
				<!-- Create a button to display ct_image div -->
				<button type="button" class="btn btn-danger" data-toggle="modal"
					data-target="#uploadimage">Need to Retrain</button>
				
				<div id="uploadimage" class="modal fade" role="dialog">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-body">
								<form method="post" action="/upload" enctype="multipart/form-data">
									<div class="row">
										<div class="col-md-12">
											<div class="file-drop-area">
												<span class="fake-btn">Choose file</span>
												<span class="file-message">This image will move to cloud for Training</span>
												<input class="file-input" type="file" name="file">
											</div>
										</div>
										
										<hr />
										
										<div class="col-md-12">
											<span class="fake-btn">Is Contrast present ?</span>
											<div class="form-check">
												<input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
												<label class="form-check-label" for="flexRadioDefault1">
													Yes
												</label>
											</div>
											<div class="form-check">
												<input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
												<label class="form-check-label" for="flexRadioDefault2">
													No
												</label>
											</div>
										</div>
									</div>
									<br />
									<button class="btn btn-primary btn-block confirm-button">Upload</button>
								</form>
								{{msg}}
								<div class="modal-footer">
									<button type="button" class="btn btn-danger" data-dismiss="modal">back</button>
								</div>
							</div>
						</div>
					</div>				
				</div>
				
				<button type="button" class="btn btn-primary" data-toggle="modal"
					data-target="#moreinfo">Predict</button>
				<div id="moreinfo" class="modal fade" role="dialog">		
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header justify-content-center">
								<b>Patient Status: {{ ct_image }}</b>
							</div>
							<div class="modal-body">
								<table class="table table-bordered table-hover">
									<thead>
										<tr>
											<th scope="col">DICOM Attribute</th>
											<th scope="col">DICOM Value</th>
										</tr>
									</thead>
									<tbody>
										{% for key, value in metadata.items() %}
										<tr>
											<td style="word-break: break-word;">{{ key }}</td>
											<td style="word-break: break-word;">{{ value }}</td>
										</tr>
										{% endfor %}
									</tbody>
								</table>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
							</div>
						</div>
					</div>
				</div>
				<!--end of more info div-->
				{% endif %}
				<div class="container d-flex justify-content-center mt-100">

					<form method="post" action="/" enctype="multipart/form-data">
						<div class="row">
							<div class="col-md-12">
								<div class="file-drop-area">
									<span class="fake-btn">Choose file</span>
									<span class="file-message">Drag and drop a file or select a file to upload</span>
									<input class="file-input" type="file" name="file">
								</div>
							</div>
						</div>
				</div>
				<button class="btn btn-primary btn-block confirm-button">Upload</button>
				</form>
			</div>
		</div>
	</div>
	<script>
		$(document).on('change', '.file-input', function () {
			var filesCount = $(this)[0].files.length;

			var textbox = $(this).prev();

			if (filesCount === 1) {
				var fileName = $(this).val().split('\\').pop();
				textbox.text(fileName);
			} else {
				textbox.text(filesCount + ' files selected');
			}
		});
	</script>
</body>
</html>
