Flask==2.1.2
opencv_python==4.6.0.66
Pillow==9.1.1
pydicom==2.3.0
scikit_image==0.19.3
skimage==0.0
Werkzeug==2.1.2
https://storage.googleapis.com/tensorflow/linux/cpu/tensorflow_cpu-2.9.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl
protobuf==3.20.*
tensorflow_hub==0.12.0
python-dotenv
requests
azure-cognitiveservices-vision-customvision
azure-common
certifi
charset-normalizer
click
colorama
Jinja2
msrest
requests-oauthlib
