Flask
pandas
matplotlib
scikit-learn
numpy
seaborn
glob2
opencv-contrib-python-headless
Pillow
pydicom
scikit-image
Werkzeug
Flask-SQLAlchemy
tensorflow-hub
protobuf==3.20.*
python-dotenv
requests
azure-cognitiveservices-vision-customvision
azure-common
certifi
charset-normalizer
click
colorama
Jinja2
msrest
requests-oauthlib
